#pragma once

#include "Resource.hpp"

//-----------------------------------------------------------------
// Ikony
//-----------------------------------------------------------------

IDI_SKELETON ICON "Icon.ico"
IDI_SKELETON_SM ICON "Icon_sm.ico"

//-----------------------------------------------------------------
// Bitmaps
//-----------------------------------------------------------------

IDB_BACKGROUND BITMAP "forest.bmp"
